@model Domain.Models.MemberLoginForm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_CleanLayout";
    ViewData["Title"] = "Log In";
}


<section class="center-screen">
    <div class="surface" id="login">

        <h1>@ViewData["Title"]</h1>

        <form asp-controller="Auth" asp-action="Login" method="post" novalidate enctype="multipart/form-data">
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />


            @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
            {
                <div class="alert-notification error">
                    @ViewBag?.ErrorMessage
                </div>
            }

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="Enter email address" />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" placeholder="Enter password" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-blue">Log In</button>
            </div>

            <div class="form-footer">
                <span>Don't have an account?</span>
                <a asp-controller="Auth" asp-action="SignUp"> Sign Up</a>
          
            </div>
        </form>

        
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

